.appHeader > .updateBadge {
    pointer-events: all;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin-inline-start: 16px;

    > .currentVersion {
        opacity: 0.4;
        margin: 14px;

        > code {
            background-color: transparent;
        }
    }

    > .newVersion {
        background-color: var(--update-badge-background-color);
        border: solid 2px var(--update-badge-border-color);
        box-shadow: var(--update-badge-box-shadow);
        border-radius: 1rem;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        padding: 8px 14px;
        margin: 0px 8px;

        > .version {
            margin: 0px 4px;
            font-family: monospace;
        }
    }
}
